################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HC12TO13/.vs/HC12TO13
/HC12TO13/HC12TO13/bin
/HC12TO13/HC12TO13/obj
